.movie-list
    padding-bottom: 70px
    &__header
        margin: 20px 0
        font-family: Montserrat
    &__search-input
        width: 100%
        padding: 10px
        border: 1px solid $border-color
        margin: 20px 0 10px 0
    &__button
        float: right
        margin: 10px 0
        

